circle {
    width : size;
    height : size;
    position : 'absolute';
    border-radius : '50%';
    transition : transform 0.3s;

    background-color : #222;
    transform: 
        perspective(800px) 
        rotateZ(0deg)
        rotateY(0deg);
}

circle_normal {
}

circle_hover {
    background-color : #eee;
    transform: 
        perspective(800px) 
        rotateZ(90deg)
        rotateY(180deg); 
}